@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
        margin: 5px auto;
        background-color: lightcoral;
    }
    .menu {
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .logo {
        width: 10%;
        margin: 5px 10px;
    }
    .logo img {
        width: 100%;
        border-radius: 20%;
        box-shadow: 0px 0px 4px 3px black;
    }
    .togg {
        margin-right: 0%;
        width: 90%;
        position: relative;
    }
    .togg-menu {
        display: block;
        float: right;
        /* display: none; */
    }
    .menu-item {
        float: right;
    }
    .nav {
        /* display: inline-block; */
        display: none;
        margin-left: -50px;
        margin-top: 10px;
        position: absolute;
    }
    .nav a {
        display: flex;
        font-size: 12px;
        padding: 5px;
        background-color: lightcoral;
        color: black;
        font-style: italic;
    }
    .togg:hover .nav {
        display: block;
    }
}